@import 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap';
@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body {
    background-color: white;
    height: 100%;
}

.bg-red {
    background-color: red;
}

.bg-white {
    background-color: #fff
}

.border-red {
    border: 1px solid red;
}

.button {
    display: inline-block;
    padding: .75em 1.5em;
    background: #666;
    color: #fff;
    border-radius: .5em;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin: 20px;
}

.color-dark-gray {
    color: #333;
}

.color-dodgerblue {
    color: dodgerblue;
}

.color-gray {
    color: #666
}

.color-red {
    color: red
}

.color-white {
    color: #fff;
}

.color-green-lime {
    color: lime;
}

.display-center {
    display: grid;
    place-items: center;
}

.display-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-none {
    display: none;
}

.fs-xl {
    font-size: x-large
}

.fs-xxl {
    font-size: xx-large
}

.img {
    width: 100%;
    border-radius: 5px;
}

.mg-05em {
    margin: .5em;
}

.select-hidden {
    display: none;
    /* Ocultar el select */
}

.text-center {
    text-align: center;
}

.text-nodeco {
    text-decoration: none;
}
.width-150 { width: 150px; }
.width-250 { width: 250px ;}


/*===== ===== ===== NavBar ===== ===== ===== */
.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.logo {
    display: flex;
    text-align: center;
    color: #333;
    font-size: 20px;
    font-weight: 500;
    margin: 20px;
}

.dropdown-section {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.dropdown-section .button {
    text-decoration: none;
    color: #1c1c1c;
    background-color: white;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
}

/* Sticky Form */
.title {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
}

.title-container {
    background-color: white;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding-bottom: 20px;
    
}
.title form {
    margin: 10px;
    justify-content: center;
}

.title input,
.title select {
    width: 180px;
    height: 40px;
    margin: 0 5px 0 5px;
    border: 1px solid #333;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
}

.title .estado-select {
    width: 100px;
    color: #333;
    font-size: 15px;
    padding: 0 30px 0 10px;
}

.title button {
    margin: 5px;
    padding: 0;
    width: 80px;
    height: 40px;
    background-color: green;
    color: white;
}

.title a {
    font-size: 1.5em;
    font-weight: 500;
    border: 1px solid #999;
}

/* Pagination*/
.pagination ul {
    color: transparent;
}

ul li {
    line-height: 40px;
    margin: 5px;
}

ul li.pageNumber {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 0.8em;
    font-weight: 500;
}

ul li a {
    display: block;
    color: #333;
    font-weight: 600;
    border-radius: 50%;
    text-decoration: none;
}

ul li.pageNumber:hover a,
ul li.pageNumber.active a {
    background: #333;
    color: #fff;
    text-decoration: none;
}

ul li.pageNumber.active a {
    background: #007bff;
    color: #fff;
}

.pagination #scrollToBottomBtn,
#scrollToTopBtn {
    border: none;
    margin: 10px;
    color: #1c1c1c;
}

.pagination select {
    height: 30px;
width: min-content;
    font-size: 1em;
    font-weight: 500;
    padding: 0 30px 5px 10px;
    text-align: start;

}

/* Title H1 */
h1 {
    font-weight: 500;
    margin: 15px;
    text-align: center;
    color: #333;
}

/* Section Week Days Buttons */
.week-days-buttons .button {
    position: static;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin: 5px;
    padding: 5px;
    background-color: #999;
    font-weight: 500;
}

.week-days-buttons .button:hover {
    background-color: green;
}

.week-days-buttons .active {
    background-color: green;
}

/*===== ===== ===== Card ===== ===== =====*/
.card {
    width: 380px;
    padding: 20px;
    border: 2px, solid #ccc;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.card img,
.photo {
    width: 100%;
    border-radius: 10px;
}

.card h2 {
    margin-top: auto;
    font-size: 20px;
}

.card p {
    margin-top: 10px;
    font-size: 16px;
    color: #666;
}

.card-2 {
    max-width: 600px;
    padding: 20px;
    margin: 20px;
    border: 2px, solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

/* Modal */
#confirmationModal {
    display: none;
    position: fixed;
    top: 50px;
}

.modal {
    background-color: #fff;
    height: max-content;
}

.modal .modal-header {
    text-align: center;
    margin-bottom: .5em;
}

.modal .modal-content {
    width: 100%;
    background-color: transparent;
    border: 1px solid;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    padding: 1em;
    margin: 0;
    margin-bottom: -40px;
}

.modal-title {
    font-size: 1.5em;
    font-weight: 500;
    color: #007bff;
}

.modal #confirm-delete {
    background-color: red;
    font-weight: 500;
    font-size: 1em;
}

.modal #cancel-delete {
    background-color: dodgerblue;
    font-weight: 500;
    font-size: 1em;
}

.modal .footer {
    margin-top: 0px;
    background-color: transparent;
}

/* Main */
.main-content {
    display: flex;
    margin: 1em;
    justify-content: center;
    align-items: center;
}

.main-content button {
    padding: 0 10px;
    transition: 1s ease-in-out all;
}

.main-content button:hover {
    background-color: var(--blue);
}

.main-container {
    padding: 2rem 3rem;
    overflow: auto;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    overflow-y: auto;
    display: block;
    background-color: white;
}

/* Table */
.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.table tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

.table tbody tr:hover {
    background-color: #cce5ff;
}

.table th,
.table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.table th {
    border-bottom: 0;
    font-weight: 500;
}

.table .hour-column {
    width: 120px;
}

.table .select-column {
    display: flex;
    text-decoration: none;
    width: 150px;
}

/* Botones */
#delete-board-button {
    background-color: red;
    margin: 5px;
}

#downloadToExcel {
    background-color: green;
    margin: 5px;
}

/* Footer*/
footer {
    margin: 0.5em;
}